.collapsible {
    margin-bottom: 10px;
}

.collapse-btn {
    background-color: #007fff1a;
    padding: 10px;
    width: 100%;
    text-align: left;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.collapse-btn:hover {
    background-color: #0056b3;
}

.collapse-content {
    display: none;
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 6px;
}
.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.input-group #userIdInput{
    width: 300px;
    border: 2px solid #e2e8f0;
    height: 40px;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: white ;
}
.input-group #userIdInput:hover{
    border: 2px solid #007fff;
}
.input-group #userIdInput:active{
    border: 2px solid #007fff;
}
.input-group #userIdInput:focus-visible{
    border: 2px solid #007fff;
}
.input-group button{
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px 8px;
    height: 36px;
    background-color: rgba(188, 242, 110, 1);
}
